<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../js/vue.js"></script>
</head>

<body>
  <div id="root">
    <h2>人员统计</h2>
    <input type="text" placeholder="请输入名字" v-model="keyWord">
    <ul>
      <li v-for="(p,index) in filPersons" :key="index">
        {{p.name}}-{{p.age}}-{{p.genter}}
      </li>
    </ul>
  </div>
  <script>
    Vue.config.productionTip = false

    // 用watch实现
    // new Vue({
    //   el: '#root',
    //   data: {
    //     keyWord: '',
    //     persons: [
    //       { id: 1, name: '马冬梅', age: 18, genter: '女' },
    //       { id: 2, name: '周冬雨', age: 19, genter: '女' },
    //       { id: 3, name: '周杰伦', age: 20, genter: '男' },
    //       { id: 4, name: '温兆伦', age: 21, genter: '男' }
    //     ],
    //     filPersons: []
    //   },
    //   watch: {
    //     keyWord: {
    //       immediate: true,
    //       handler(val) {
    //         // console.log('keyWord被改了', val)
    //         this.filPersons = this.persons.filter((p) => {
    //           return p.name.indexOf(val) !== -1
    //         })
    //       }
    //     }
    //   }
    // })



    // 用computed实现
    new Vue({
      el: '#root',
      data: {
        keyWord: '',
        persons: [
          { id: 1, name: '马冬梅', age: 18, genter: '女' },
          { id: 2, name: '周冬雨', age: 19, genter: '女' },
          { id: 3, name: '周杰伦', age: 20, genter: '男' },
          { id: 4, name: '温兆伦', age: 21, genter: '男' }
        ],
      },
      computed: {
        filPersons: {
          get() {
            return this.persons.filter((p) => {
              return p.name.indexOf(this.keyWord) !== -1
            })
          }
        }
      }
    })
  </script>
</body>

</html>