<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../js/vue.js"></script>
  <style>
    button {
      margin-bottom: 10px;
    }
  </style>
</head>

<body>
  <div id="root">
    <h2>学生信息</h2>

    <button @click="student.age++">年龄+1岁</button><br />
    <button @click="addGender">添加性别属性，默认值：男</button><br />
    <button @click="student.gender='未知'">修改性别</button><br />
    <button @click="addFriend">在列表首位添加一个朋友</button><br />
    <button @click="updateFristFriend">修改第一个朋友的姓名为张三</button><br />
    <button @click="addHobby">添加一个爱好</button><br />
    <button @click="updateHobby">修改第一个爱好为：开车</button><br />
    <button @click="filHobby">过滤掉爱好中的抽烟</button>

    <h3>姓名：{{student.name}}</h3>
    <h3>年龄：{{student.age}}</h3>
    <h3 v-show="student.gender">性别：{{student.gender}}</h3>
    <h3>爱好：</h3>
    <ul>
      <li v-for="(h,index) in student.hobby" :key="index">
        {{h}}
      </li>
    </ul>
    <h3>朋友们：</h3>
    <ul>
      <li v-for="(f,index) in student.friends" :key="index">
        {{f.name}}-{{f.age}}
      </li>
    </ul>
  </div>
  <script>
    Vue.config.productionTip = false

    const vm = new Vue({
      el: '#root',
      data: {
        student: {
          name: 'tom',
          age: 18,
          hobby: ['喝酒', '抽烟', '烫头'],
          friends: [
            { name: 'jerry', age: 18 },
            { name: 'tony', age: 24 }
          ]
        }
      },
      methods: {
        addGender() {
          // Vue.set(this.student, 'gender', '男')
          // vm.$set(this.student, 'gender', '男')
          this.$set(this.student, 'gender', '男')
        },
        addFriend() {
          this.student.friends.unshift({ name: 'jack', age: 20 })
        },
        updateFristFriend() {
          this.student.friends[0].name = '张三'
        },
        addHobby() {
          this.student.hobby.push('唱歌')
        },
        updateHobby() {
          this.student.hobby.splice(0, 1, '开车')
        },
        filHobby() {
          this.student.hobby = this.student.hobby.filter((val) => {
            return val !== '抽烟'
          })
        }
      }
    })
  </script>
</body>

</html>